#recipedropdown {
background-color: #FFFFFF;
width: 20rem;
height: 30rem;
}

.shadow {
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.shadow-rounded {
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}

.horizontal-list li {
display: inline;
list-style-position: inside;
}

.right-align {
text-align: right;
}

.left-align {
align-content: left;
}

.dropdown-card {
    width: 25rem;
}

.btn-row {
    margin-top: 1rem;
}
