#recipedropdown {
    background-color: #FFFFFF;
    width: 20rem;
    height: 30rem;
}

.shadow {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.shadow-rounded {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.horizontal-list li {
    display: inline;
    list-style-position: inside;
}

.right-align {
    text-align: right;
}

.left-align {
     align-content: left;
}

#myStash {
    width: 65rem; 
    border-radius: 10px;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.myStash-card-body {
    margin-bottom: 20rem;
    padding: 3rem;
}

.myStash-filter-icon {
    font-size: 1.75rem;
}

.product-text {
    margin-top: 2rem;
}

.amount-text {
    margin-top: 2rem;
}
