.modal-recipe-header{
    height: 200px;
    width:100%;
    object-fit: cover;
}

.modal-recipe-footer{
    display: block !important;
}

.top-description p{
    display: inline-block;
    padding: 5px;
}