:root {
	--app-font: 'Quicksand', 'Lato', sans-serif;
	--neutral-color: white;
}

.card-price {
	text-align: right;
}

.App {
	font-family: var(--app-font);
	text-align: center;
	background: var(--neutral-color);
	user-select: none;
}

.max-min-price {
	width: 10rem;
}

.input-price {
	color: #888888;
	background-color: #fff;
	width: 60px;
}