


.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('../../public/pictures/arrow-left.png') no-repeat;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    overflow: hidden;
    transition: all ease 5s;
}

.spinTheMeal-span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1{
    clip-path: polygon(0 92%,  100% 50%, 0 8%);
    background-color: #fff;
    top: 120px;
    left: 0;
}
.span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #ff4fa1;
    top: 120px;
    right: 0;
}
.span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #ffaa00;
    bottom: 0;
    left: 120px;
}
.span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #22ff00;
    top: 0;
    left: 120px;
}
    
.box1 .span3 b{
    transform: translate(-50%, -50%) rotate(-270deg);
}
.box1 .span1 b,
.box2 .span1 b{
   transform: translate(-50%, -50%) rotate(185deg);
}
.box2 .span3 b{
   transform: translate(-50%, -50%) rotate(90deg);
}
.box1 .span4 b,
.box2 .span4 b{
   transform: translate(-50%, -50%) rotate(-85deg);
}
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}
span b{
     font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spin{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 75px;
     height: 75px;
     border-radius: 50%;
     border: 4px solid #fff;
     box-shadow: 0 5px 20 px #fff;
     font-size: 22px;
     cursor: pointer;
}

.spin:active{
     width: 70px;
     height: 70px;
     font-size: 22px;
}

.mainbox.animate:after{
    animation:animateArrow 0.7s ease infinite ;
}

@keyframes animateAroow{
    50%{
        right: -40px;
    }
}

.spinTheMeal {
    margin-top: 5rem;
    overflow: hidden;
}
